<p id="notice"><%= notice %></p>

<h2>
  Tipos de Template
  <small>
    <button type="button" class="btn btn-primary">
      <%= link_to 'Novo Tipo', new_type_path %>
    </button>
  </small>
</h2>

<hr>

<div class="container">
  <% @types.each do |type| %>
    <li>
      <%= link_to type.nome, type_templates_list_path(type) %>
    </li>
  <% end %>
  <li>
    <%= link_to 'Ver todos os Templates', templates_path %>
  </li>
</div>
